.auth-form {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  justify-content: center;
  wrap: nowrap;

  &__item {
    margin: 1em 0;
    flex-basis: 1;

    &--text-input {
      font-size: 1.5em;
    }

    &--submit {
      font-size: 2em;
      border-radius: 20px;
      background: $colour-secondary;
    }
  }
}