.item-block {
  display: flex;
  justify-content: space-around;

  &__block {
    padding: 20px;
    border: 1px solid $colour-grey-light;
    font-size: 1.4em;
    transition: .4s;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    &:hover {
      background: $colour-grey-light;
      color: white;
    }
  }
}