.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &__link {
    text-decoration: none;
    display: block;
  }

  &__item {
    width: 90%;
    position: relative;
    padding: 0.5em 0;
    margin: 0 auto 0.5em;
    font-size: 1.5em;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 1px 2px 1px $colour-grey-light;
    cursor: pointer;

    .toggle-switch {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &:hover, &:active {
      box-shadow: 0px 2px 5px 1px $colour-grey-light;
    }

    &--not-ready {
      color: $colour-grey-light;
    }

    &--ready {
      color: $colour-grey-dark;
    }

    &--buzzed-in {
      font-weight: bold;
      color: red;
      animation-name: buzzed-in-loop;
      animation-duration: 0.4s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  &__score {
    font-size: 0.7em;
  }

  button, &__icon {
    -webkit-appearance:inherit;
    border: 0;
    background: none;
  }

  a {
    text-decoration: none;
    color: inherit;


  }
}

@keyframes buzzed-in-loop {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}