.page-header {
  box-shadow: 0px 2px 10px 0px $colour-grey-light;
  margin: 0 0 1em 0;
  padding: 0.5em 0;
  position: relative;

  &__title {
    margin: 0;
  }

  &__settings {
    position: absolute;
    right: 1em;
    top: 1em;
    border: none;
    background: none;
    color: $colour-grey-light;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}