// Breakpoints
$screen-mobile-width: 480px;
$screen-tablet-width: 839px;
$screen-desktop-width: 1024px;

$screen-sm-min: 480px;
$screen-md-min: 839px;
$screen-lg-min: 1024px;

// // // // // // // //
// Bottom Up
// // // // // // // //
@mixin mobile {
  @media only screen and (max-width: #{$screen-mobile-width}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (max-width: #{$screen-tablet-width}) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (max-width: #{$screen-desktop-width}) {
    @content;
  }
}

// // // // // // // //
// Top Down
// // // // // // // //
@mixin screen-min-sm {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin screen-min-md {
  @media (min-width: $screen-md-min) {
    @content;
  }
}

@mixin screen-min-lg {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-desktop-width}) {
    @content;
  }
}